<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock %}</title>

		<!-- Global stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
		{% load static %}
		<link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/components.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/colors.min.css' %}" rel="stylesheet" type="text/css">
		{% block stylesheet %}{% endblock %}
	</head>

	<body>
		{% block header %}{% endblock %}
		{% block content %}{% endblock %}
		<!--<img src="{% static 'images/login_cover.jpg' %}" style="width: 100%; height: 500px;">-->
		<!-- Footer -->
		<div class="navbar navbar-expand-lg navbar-dark">
			<div class="navbar-collapse collapse" id="navbar-footer">
				<span class="navbar-text">&copy; 2018. <a href="https://centangle.com/" target="_blank"> Centangle Interactive</a></span>

				<ul class="navbar-nav ml-lg-auto">
					<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
					<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
					<li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
				</ul>
			</div>
		</div>

	</body>
	<!-- Core JS files -->
	{% load static %}
	<script type="text/javascript" src="{% static 'js/main/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/demo_pages/dashboard.js' %}"></script>
	{% block javascriptfile %}{% endblock %}
</html>
